<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">

    <link rel="stylesheet" href="../assets/css/templatemo-softy-pinko.css">
</head>
<body>
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h1><strong>CreISys</strong></h1>
                        <p>
                            En este momento el Servidor se encuentra ocupado, por favor intente nuevamente. Disculpe las molestias.
                        </p>
                        <br />
                        <a href="~/" class="btn btn-dark"><strong>REINTENTAR</strong></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>