<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>CreISys</title>
</head>
<body>
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h1><strong>CreISys</strong></h1>
                        <p>
                            En este momento el Servidor se encuentra ocupado, por favor intente nuevamente. Disculpe las molestias.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>